__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
env/
venv/
ENV/
*.egg-info/
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.log
*.pem
*.key
*.tar
*.img
docker-compose.override.yml
*.kube/
.kubeconfig
.kube/
.trivy/
scan-results/
.DS_Store
Thumbs.db
.history/
